body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
    color: #333;
}
h1 {
    font-size: 24px;
    color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
}
.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.task-title-container {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #fff;
}
.task-title-container.completed {
    text-decoration: line-through;
    color: gray;
    background-color: #e9ecef;
}
.button-group {
    display: flex;
    gap: 5px;
}
.button-group button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.button-group button.delete-button {
    background-color: red;
}
.button-group button:hover {
    opacity: 0.9;
}
.completed {
text-decoration: line-through;
color: gray;
}